<div class="mt-2">
  <table class="table">
    <thead class="table-light">
      <tr class="table-info">
        <th>Nombre</th>
        <th>Telefono</th>
        <th>Email</th>
        <th>Direccion</th>
        <th>Estado</th>
        <th class="text-end">Acciones</th>
      </tr>
    </thead>
    <tbody *ngFor="let item of listCustomer">
      <td>{{ item.name }}</td>
      <td>{{ item.phone }}</td>
      <td>{{ item.email }}</td>
      <td>{{ item.address }}</td>
      <td>{{ item.status }}</td>
      <td>
        <div class="d-flex justify-content-md-end">
          <div class="btn-group" role="group" aria-label="Basic example">
            <button
              class="btn btn-secondary"
              title="Editar producto"
              (click)="onButtonEdit(item)"
            >
              <i class="bi bi-pencil"></i>
            </button>
            <button
              class="btn btn-danger"
              title="Borrar producto"
              (click)="onButtonDelete(item)"
              ><i class="bi bi-trash"></i>
            </button>
          </div>
        </div>
      </td>
    </tbody>
  </table>
</div>


<div *ngIf="showModalCustomer">
  <app-modal-customer (closeModal)="onModalClose()"></app-modal-customer>
</div>



<div *ngIf="showModalDelete">
  <app-modal-delete
    [selectClientDel]="itemClientDel"
    (buttonConfirm)="onButtonConfirm()"
    (closeModal)="onCloseModalDele()"
  ></app-modal-delete>
</div>